@model WebApplication1.Models.QuestionViewEditModel

@{
    ViewBag.Title = "Edit question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit question</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Question.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Question.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Question.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question.Multiple, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question.Multiple, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Question.Multiple, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Question.QuestionCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Question.QuestionCategoryId, new SelectList(Model.Categories, "Id", "Name", Model.Question.QuestionCategoryId), new { @class = "form-control" }  )
                @Html.ValidationMessageFor(model => model.Question.QuestionCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <div>
            <table class="table">
                <tr>
                    <th>
                        Answers
                    </th>
                    <th>
                        Score
                    </th>
                    <th></th>
                </tr>
                @foreach (var ans in Model.Answers)
                {
                    <tr>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => ans.Text)</strong><br />
                            Note: @Html.DisplayFor(modelItem => ans.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ans.Score)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditAnswer", new { id = ans.Id, questionId = Model.Question.Id }) | @Html.ActionLink("Delete", "DeleteAnswer", new { id = ans.Id, questionId = Model.Question.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Delete", "Delete", new { id = Model.Question.Id }) | @Html.ActionLink("Add answer", "NewAnswer", new { questionId = Model.Question.Id })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
